body {
    background-color: rgb(36, 233, 92);
    background-image: url(../img/Best-Metal-Images.jpg);
}

.celdas {
    display: grid;
    grid-template-columns: 7em 7em 7em;
    grid-template-rows: 7em 7em 7em;
}

.celda1 {
    border: solid 0.3em orange;
    text-align: center;
    border-top: none;
    border-left: none;
    color: rgba(240, 248, 255, 0);
}

.celda2 {
    border: solid 0.3em orange;
    text-align: center;
    border-top: none;
    color: rgba(240, 248, 255, 0);
}

.celda3 {
    border: solid 0.3em orange;
    text-align: center;
    border-top: none;
    border-right: none;
    color: rgba(240, 248, 255, 0);
}

.celda4 {
    border: solid 0.3em orange;
    text-align: center;
    border-left: none;
    color: rgba(240, 248, 255, 0);
}

.celda5 {
    border: solid 0.3em orange;
    text-align: center;
    color: rgba(240, 248, 255, 0);
}

.celda6 {
    border: solid 0.3em orange;
    text-align: center;
    border-right: none;
    color: rgba(240, 248, 255, 0);
}

.celda7 {
    border: solid 0.3em orange;
    text-align: center;
    border-left: none;
    border-bottom: none;
    color: rgba(240, 248, 255, 0);
}

.celda8 {
    border: solid 0.3em orange;
    text-align: center;
    border-bottom: none;
    color: rgba(240, 248, 255, 0);
}

.celda9 {
    border: solid 0.1em orange;
    color: rgba(240, 248, 255, 0);
    text-align: center;
    border-bottom: none;
    border-right: none;
}

#header {
    text-align: center;
}

.nombres {
    color: orange;
}