body {
    background-color: rgb(36, 233, 92);
    background-image: url(../img/metal-lines-stripes-light-shiny-silver.jpg);
}

.celdas {
    display: grid;
    grid-template-rows: 7em 7em 7em;
    grid-template-columns: 7em 7em 7em;
    margin-top: 3em;
    justify-content: center;
}

.celda1 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
}

.celda2 {
    border: solid 0.3em rgb(252, 75, 8);
}

.celda3 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
}

.celda4 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
}

.celda5 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
}

.celda6 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
}

.celda7 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
}

.celda8 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
}

.celda9 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
}

#header {
    text-align: center;
}

.futbol {
    width: 5em;
    height: 6em;
}