body {
    background-color: rgb(36, 233, 92);
    background-image: url(../img/metal-lines-stripes-light-shiny-silver.jpg);
    /* background-image: url(../img/royal-blue-vegeta-446415.png);
    background-image: url(../img/dragon-ball-goku-png-photos-818491.png) */
}

.celdas {
    display: grid;
    grid-template-rows: 7.5em 7.5em 7.5em;
    grid-template-columns: 7.5em 7.5em 7.5em;
    margin-top: 0.5em;
    justify-content: center;
}

.celda1 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
    border-left: none;
    border-top: none;
}

.celda2 {
    border: solid 0.3em rgb(252, 75, 8);
    border-top: none;
}

.celda3 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
    border-top: none;
    border-right: none;
}

.celda4 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
    border-left: none;
}

.celda5 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
}

.celda6 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
    border-right: none;
}

.celda7 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
    border-bottom: none;
    border-left: none;
}

.celda8 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
    border-bottom: none;
}

.celda9 {
    border: solid 0.3em rgb(252, 75, 8);
    text-align: center;
    border-right: none;
    border-bottom: none;
}

#header {
    text-align: center;
}

.futbol {
    width: 5em;
    height: 6em;
}

.comando {
    margin-top: 0.5em;
    text-align: center;
}

.boton {
    width: 7.2em;
    height: 7.2em;
    color: rgba(36, 45, 53, 0);
    background-color: rgba(250, 235, 215, 0);
    border: none;
    size-adjust: 5em;
}